.att-container, .att-item-viewer{
    width: 50%;
    background-color: whitesmoke;
    overflow: scroll;
    padding: 5px;
    border-radius: 15px;
}

.att-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 30px;
}

.att-items{
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
    background-color: rgb(165, 201, 231);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    cursor:pointer;
    width: 30%;
    height: 30%;
}

.graph_image{
    width: 100%;
    height: inherit;
}